LGroup.RequestResponse/LGroup.RequestResponse.Client/LGroup.RequestResponse.Client/Service References/ProxyCliente/Cliente3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LGroup.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LGroup.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="DataNascimento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteModel" nillable="true" type="tns:ClienteModel" />
  <xs:complexType name="ArrayOfClienteModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteModel" nillable="true" type="tns:ClienteModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteModel" nillable="true" type="tns:ArrayOfClienteModel" />
</xs:schema>