LGroup.RequestResponse/LGroup.RequestResponse.Client/LGroup.RequestResponse.Client/Service References/ProxyCliente/Cliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6969/Cliente?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" />
  <xs:element name="Cadastrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" minOccurs="0" name="pedido_" nillable="true" type="q1:RequestDTOOfClienteModelXEcaxEXn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CadastrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" minOccurs="0" name="CadastrarResult" nillable="true" type="q2:ResponseDTOOfClienteModelXEcaxEXn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" minOccurs="0" name="pedido_" nillable="true" type="q3:RequestDTOOfClienteModelXEcaxEXn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" minOccurs="0" name="ListarResult" nillable="true" type="q4:ResponseDTOOfClienteModelXEcaxEXn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>