LGroup.RequestResponse/LGroup.RequestResponse.Client/LGroup.RequestResponse.Client/Service References/ProxyCliente/Cliente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6969/Cliente?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LGroup.Model" />
  <xs:import schemaLocation="http://localhost:6969/Cliente?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:6969/Cliente?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LGroup.Global.Enum" />
  <xs:complexType name="RequestDTOOfClienteModelXEcaxEXn">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RequestDTOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClienteModel" Namespace="http://schemas.datacontract.org/2004/07/LGroup.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LGroup.Model" minOccurs="0" name="NovoCliente" nillable="true" type="q1:ClienteModel" />
      <xs:element minOccurs="0" name="UsuarioLogado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestDTOOfClienteModelXEcaxEXn" nillable="true" type="tns:RequestDTOOfClienteModelXEcaxEXn" />
  <xs:complexType name="ResponseDTOOfClienteModelXEcaxEXn">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDTOOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LGroup.Model.DTO" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ClienteModel" Namespace="http://schemas.datacontract.org/2004/07/LGroup.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="DataExecucao" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LGroup.Model" minOccurs="0" name="ListModel" nillable="true" type="q2:ArrayOfClienteModel" />
      <xs:element minOccurs="0" name="MensagemProcessamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TempoExecucao" type="ser:duration" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LGroup.Global.Enum" minOccurs="0" name="TipoMensagem" type="q3:TipoMensagem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseDTOOfClienteModelXEcaxEXn" nillable="true" type="tns:ResponseDTOOfClienteModelXEcaxEXn" />
</xs:schema>